<% if product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
    <% product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(product) do |f| %>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :current %>
    <%= f.number_field :current %>
  </div>

  <div class="field">
    <%= f.label :cover_time %>
    <%= f.number_field :cover_time %>
  </div>

  <div class="field">
    <%= f.label :travel_time %>
    <%= f.number_field :travel_time %>
  </div>

  <div class="field">
    <%= f.label :lead_time %>
    <%= f.number_field :lead_time, step: 0.5 %>
  </div>

  <div class="field">
    <%= f.label :cant_travel_start %>
    <%= f.date_field :cant_travel_start %>
  </div>

  <div class="field">
    <%= f.label :cant_travel_end %>
    <%= f.date_field :cant_travel_start %>
  </div>

  <div class="field">
    <%= f.label :cant_produce_start %>
    <%= f.date_field :cant_produce_start %>
  </div>

  <div class="field">
    <%= f.label :cant_produce_end %>
    <%= f.date_field :cant_produce_end %>
  </div>

  <div class="field">
    <%= f.label :growth_factor %>
    <%= f.text_field :growth_factor %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
